# Soroban/Stellar Network Configuration
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
NEXT_PUBLIC_DEFAULT_USDC_ADDRESS=

# Trustless Work API Configuration
NEXT_PUBLIC_API_KEY=

# Server-side only (for contract deployment)
SOURCE_SECRET=
